<launch>
    <!-- Robot pose -->
    <arg name="x_robot" default="2"/>
    <arg name="y_robot" default="-3"/>
    <arg name="z_robot" default="0"/>
    <arg name="roll_robot" default="0"/>
    <arg name="pitch_robot" default="0"/>
    <arg name="yaw_robot" default="0"/>

    <arg name="model" default="$(find autonav)/urdf/robot_simulation.urdf.xacro"/>
    <arg name="rate" default="10" />

    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'" />

    <!-- <rosparam file="$(find autonav)/config/robot_control.yaml" command="load"/> -->

    <include file="$(find rplidar_ros)/launch/rplidar.launch" />    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autonav)/include/rviz.rviz" />    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" >
        <!-- <remap from="/joint_states" to="/kana/joint_states" />  -->
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <!-- <remap from="/joint_states" to="/kana/joint_states" /> -->
    </node>

    <node pkg="gmapping" type="slam_gmapping" name="gmapping">
        <param name="base_frame" value="base_link" />
        <param name="odom_frame" value="odom" />
        <param name="delta" value="0.1" />
    </node>
    
</launch>
